<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.mansystems.ats.ATSBuilder plugin="ATS@1.0-SNAPSHOT">
      <appId>3c0ab0a5-f5de-4232-a95c-c3483ff531fe</appId>
      <appAPItoken>3857620d-d4ca-4b1d-bd87-a0c56ff5cc4c</appAPItoken>
      <jobTemplateID>a07ba277-4cf2-4aaf-a4f2-9073f1d8cfba</jobTemplateID>
      <rerunAutomatically>true</rerunAutomatically>
      <atsURL>https://ats100.mendixcloud.com</atsURL>
    </com.mansystems.ats.ATSBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.18">
      <recipients>andrej.gajduk@mansystems.de</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>